<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>mes</name>
            <displayName><![CDATA[Merchant e-Solutions]]></displayName>
            <version><![CDATA[1.0]]></version>
            <description><![CDATA[Accept payments through the MeS Payment Gateway]]></description>
            <author><![CDATA[]]></author>
            <tab><![CDATA[Payment]]></tab>
	<confirmUninstall>Are you sure you want to remove the MeS module?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>